/*!
   ______                           __                    __  
  / ____/___  _  ______ _____  ____/ / _________   __  __/ /__
 / /   / __ \| |/_/ __ `/ __ \/ __  / / ___/ __ \ / / / / //_/
/ /___/ /_/ />  </ /_/ / / / / /_/ /_/ /__/ /_/ // /_/ / ,<   
\____/\____/_/|_|\__,_/_/ /_/\__,_/(_)___/\____(_)__,_/_/|_|  

coxand.co.uk created by coxand.co.uk */
/*  - ascii art from http://www.network-science.de/ascii/ Font = Slant     */

@import "normalize";
@import 'bourbon';
@import "bits";


body {
	@include font-stack-text;
	@include font-size(16);
	border-top: 5px solid $colour4;
	height:100%;
	background-color: $colour5;
	background-image: url('subtlepatterns-com_squairy_light.png');
	}


[role="banner"],
[role="navigation"],
[role="main"] ,
[role="complementary"] ,
[role="contentinfo"] {
	max-width: 1024px;
	margin: 20px auto;	
	padding: 0 10px;
	@include clearfix;
	}


[role="contentinfo"]{
	clear: both;
	margin-top: 150px;
	}

[role="navigation"] ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	background: {color:shade($colour5,20%);}
	}


[role="navigation"] li .item {
  display: inline-block;
  padding: 10px 0 10px 0;
  width: 25%;
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  @include transition (all 0.25s ease-in-out);
  }

[role="navigation"] .item:hover, [role="navigation"] .item.current {
  background: {color:shade($colour5,60%);}
  color: $colour4;
  }


.logotype {
	@include font-stack-headers;
	color:$colour3;
	@include font-size(41.887);
	@include breakpoint(tablet) {@include font-size(29.666);}
	@include breakpoint(mobile) {@include font-size(25.888);}
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);	
	}


/* Modular Scale ---------------------- 16px @ 1:1.618	 48px @ 1:1.618	http://modularscale.com/scale/?px1=16&px2=48&ra1=1.618&ra2=0 ----------------------*/
h1,h2,h3,h4,h5,h6{
	@include font-stack-headers;
	color:$colour3;
	}

h1{
	@include font-size(48);
	@include breakpoint(tablet) {@include font-size(29.666);}
	@include breakpoint(mobile) {@include font-size(25.888);}
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);	
	}
	
h2 {
	@include font-size(41.887);
	@include breakpoint(tablet) {@include font-size(25.888);}
	@include breakpoint(mobile) {@include font-size(18.335);}

	}	
h3 {
	@include font-size(29.666);
	@include breakpoint(tablet) {@include font-size(18.335);}
	@include breakpoint(mobile) {@include font-size(16);}
	}		
h4 {
	@include font-size(25.888);
	@include breakpoint(tablet) {@include font-size(16);}
	@include breakpoint(mobile) {@include font-size(16);}
	}		
h5 {
	@include font-size(18.335);
	@include breakpoint(tablet) {@include font-size(16);}
	@include breakpoint(mobile) {@include font-size(16);}
	}		
h6 {
	@include font-size(16);
	@include breakpoint(tablet) {@include font-size(16);}
	@include breakpoint(mobile) {@include font-size(16);}
	}	
	
hr {
	border: 0;
	height: 1px;
	@include linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	text-align: center;
	color:$colour3;
	margin:2rem 0 4rem 0;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);	
	}

hr:after {
    content: "◆";
    color: $colour3;
    background-color: transparent;
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    @include font-size(40);
    padding: 0 0.25em;
    }


a 				{color:$colour2;}
a:link 		{color:$colour2;} 				/* unvisited link */
a:visited 	{color:shade($colour2,60%);}	/* visited link */
a:hover 		{color:tint($colour2,50%);}	/* mouse over link */
a:active 	{color:tint($colour2,60%);}	/* selected link */


.fullwidth { 
	width: 100%; 
	}